body {
  background-color: #F8F9F9; }

h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 50px; }

h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 40px; }

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  margin: 0 auto;
  padding: 20px; }

h4 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin: 20px;
  padding: 10px; }

header {
  background-color: white; }

iframe {
  margin: 30px;
  padding: 20px; }

#nav {
  margin: 10px;
  border-bottom: 10px solid white;
}

.imagenfooter {
  width: 50px;
  height: 50px;
  margin: 0px; }
.piedeimg {
  width: 400px;
  height: 300px;
  padding-top: 50px ;
  margin: 0 auto;
}
.imgredes {
  width: 30px;
  height: 30px;
  margin: 0px; }

.itemfooter {
  margin-top: 50px;
  background-color: #EDEEEE ;
  padding: 30px 10px 10px 10px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  color: black; }

.logo {
  width: 100px;
  height: 100px; }

.cuerpo {
  margin-top: 50px;
  background-color: #EDEEEE ;
  padding: 30px 10px 10px 10px;
  align-items: center; }

.imgindex {
  height: 600px; }

.presentacion {
  width: 1000px;
  height: 200px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  border: 10px;
  margin:10px;
  color: black; 
}
.pfooter {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
.imgindex4 {
  height: 650px;
  width: 550px;
  padding: 15px;
  margin-left: 40px; 
}
.ListProductos {
  font-family: 'Roboto Slab', serif;
  font-size: 25px; 
}
.packjabonliquido {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/jabonliquidoprom.jpg);
}
.packlavandina {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/lavandinapromo.jpg);
}
.alcoholengel {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/alcoholgelpromo.jpg);
}
.packblem{
  width: 600px;
  height: 400px;
  background: url(../assets/Img/packblem.jpg);
}
.packsuavizante {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/Suavizantepromo.jpg);
}
.mopapromo {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/packmopa.jpg);
}
#sale:hover {
  width: 600px;
  height: 400px;
  background: url(../assets/Img/sale.jpg);
}
.cardtext {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  text-align: justify; 
}
.card {
  width: 600px: ;
  height: 0 auto;
  padding: 10px;
}
#formulario {
  width: 800px;
  height: 250px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
}
.imgproductos {
  width: 100%; }

.listadoproductos {
  border-bottom: solid black 3px;
  padding: 10px;
  margin: 5px; }

.stock {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
  border: solid #4E0BA7 5px; }

.imgprod {
  width: 150px;
  height: 150px; }

.lista {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  text-align: justify; }

.imgpromos {
  height: 900px; }

.contacto {
  height: 400px; }

.redes {
  width: 0 auto ;
  height: 250px;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-image: url(https://commerzia.es/wp-content/uploads/2018/07/contact_us_image.jpg); 
  padding: 0 auto;
  margin: 0 auto;
}
.divcont {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.itmcontac {
  list-style: none;
  margin: 0 auto;
}