<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manyulas/Contacto</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
</head>
<body>
	<header>
		<div class="container title">
			<div class="row">	
				<div class="col-lg-12 col-xs-12 header">
					<img src="../assets/Img/Logo.jpg" class="logo">
					<blockquote class="blockquote text-center">
						 <h1>Quimica las manyulas.</h1>
					</blockquote>
			</div>
		</div>
	</header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="../index.html">Inicio</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="Productos.html">Productos</a>
		        <a class="nav-link" href="Promociones.html">Promociones</a>
		        <a class="nav-link" href="Informacion.html">Informacion</a>
		        <a class="nav-link" href="#">Contacto</a>
		      </div>
		    </div>
		  </div>
		</nav>       
		<div class="container-fluid">
			<div class="row contacto">
				<main class="col-lg-12">
					<ul class="redes">
						<li class="itmcontac">Mail: Quimicalasmanyulas@hotmail.com</li>
						<li class="itmcontac">Telefono: 1234-5678</li>
						<li class="itmcontac"><a href="https://www.instagram.com/">Instagram</a></li>
						<li class="itmcontac"><a href="https://www.facebook.com/">Facebook </a></li>
					</ul>
				</main>
			</div>
			<H4> Dejanos tu contacto </H4>
			<div id="formulario">
				<form>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-2 col-form-label">Mail</label>
				    <div class="col-sm-10">
				      <input type="mail" class="form-control" id="inputEmail3" placeholder="Mail">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-2 col-form-label">Telefono</label>
				    <div class="col-sm-10">
				      <input type="telefono" class="form-control" id="inputPassword3" placeholder="Telefono">
				    </div>
				  </div>
				  <fieldset class="form-group">
				    <div class="row">
				      <legend class="col-form-label col-sm-2 pt-0">Motivo de consulta</legend>
				      <div class="col-sm-10">
				        <div class="form-check">
				          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
				          <label class="form-check-label" for="gridRadios1">
				            Formar parte de la empresa
				          </label>
				        </div>
				        <div class="form-check">
				          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
				          <label class="form-check-label" for="gridRadios2">
				            Preguntas
				          </label>
				        </div>
				        <div class="form-check ">
				          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
				          <label class="form-check-label" for="gridRadios3">
				            Sugerencias
				          </label>
				        </div>
				      </div>
				    </div>
				  </fieldset>
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <button type="submit" class="btn btn-primary">Enviar</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>		
		<footer>
			<div class="container-fluid" >
				<div class="row itemfooter">
					<div class="col-lg-4 col-xs-12">
						<img src="../assets/Img/wpp.jpg" class="imagenfooter">
						<p class="pfooter">Tel: 1234-5678</p>
					</div>
				<div class="col-lg-4 col-xs-12" >
					<img src="../assets/Img/gmail.jpg" class="imagenfooter">
					<p class="pfooter">Quimicaslasmanyulas@gmail.com</p>
				</div>
				<div class="col-lg-4 col-xs-12">
					<p class="pfooter">Nuestras redes</p>
					<a href="https://www.facebook.com/"><img src="../assets/Img/face.jpg" alt="iconoface" class="imgredes" ></a>
					<a href="https://www.instagram.com/"><img src="../assets/Img/instagram.jpg" alt="iconoinstagram" class="imgredes"></a>
					<p class="pfooter">¡Hace click para visitarnos!</p>
				</div>
				</div>
			</div>
		</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>