<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manyulas/Productos</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;708&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
</head>
<body>
	<header>
		<div class="container title">
			<div class="row">	
				<div class="col-lg-12 col-xs-12 header">
					<img src="../assets/Img/Logo.jpg" class="logo">
					<blockquote class="blockquote text-center">
						 <h1>Quimica las manyulas.</h1>
					</blockquote>
				</div>
			</div>
		</div>
	</header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="../index.html">Inicio</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="#">Productos</a>
		        <a class="nav-link" href="Promociones.html">Promociones</a>
		        <a class="nav-link" href="Informacion.html">Informacion</a>
		        <a class="nav-link" href="Contacto.html">Contacto</a>
		      </div>
		    </div>
		  </div>
		</nav>
		<div class="container-fluid">
			<div class="row listadoproductos">
				<section class="col-lg-6">
					<h2>Productos</h2>
						<ul class="list-group">
						  <a href="#jabonliquido"><li class="list-group-item">Limpieza de ropa</li></a>
						  <a href="#lavandina"><li class="list-group-item">Limpieza del hogar</li></a>
						  <a href="#alcoholengel"><li class="list-group-item">Higiene personal</li></a>
						  <a href="#Repelentes"><li class="list-group-item">Control de plagas</li></a>
						</ul>
				</section>
				<div class="col-lg-6">
					<img src="../assets/Img/productos.jpg" class="imgproductos" >
				</div>
			</div>
		</div>
		<main class="container-fluid">	
			<div class="container d-flex justify-content-center mt-50 mb-50">
			    <div class="row">
			        <div class="col-md-10">
			            <div class="card card-body">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/Jabon liquido.jpg" id="jabonliquido" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Jabon liquido</h6>
			  						<ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Grande 4L</a></li>
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mediano 2L</a></li>
			                        </ul>
			                        <p class="mb-3">Jabon para ropa, mantene tu ropa con la mejor fragancia, remueve manchas y grasa. Tanto ropa blanca/negra o color. </p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Grande $459.99</h3>
			                        <h3 class="mb-0 font-weight-semibold">Mediano $279.99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">1985 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			            <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/Suavizante.jpg" id="suavizante" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Suavizante</h6>
			                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Grande 5L</a></li>
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mediano 2L</a></li>
			                        </ul>
			                        <p class="mb-3">Suavizante liquido, cuida tu ropa el mejor producto del mercado. Tanto ropa blanca/negra o color</p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Grande $459,99</h3>
			                        <h3 class="mb-0 font-weight-semibold">Mediano $259,99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">2349 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			            <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/Lavandina.jpg" id="lavandina" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Lavandina</h6>
			                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Grande 5L</a></li>
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">Mediano 2L</a></li>
			                        </ul>
			                        <p class="mb-3">Lavandina Aldex primera marca en el mercado, profundiza la limpieza del hogar y mantene alejados a los germenes.</p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Grande $559.99</h3>
			                        <h3 class="mb-0 font-weight-semibold">Mediana $259.99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">1985 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			             <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/blem.jpg" id="blem" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Limpiador de pisos Blem</h6>
			                        <p class="mb-3">Limpiador para tus pisos con agradable fragancia y elimina el 99% de bacterias. No apto para pisos de madera. 900ml</p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Mediano $259.99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">1985 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			            <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/alcoholgel.jpg" id="alcoholengel" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Alcohol en gel</h6>
			                        <p class="mb-3">Alcohol en gel. Antibacteriano para sanitización de manos. Transparente y sin olor. 500ml </p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Mediano $259.99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">1985 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			            <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/jabonmanos.jpg" id="jabonmanos" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Jabon liquido para manos</h6>
			                        <p class="mb-3">Jabon liquido para manos. Antibacteriano para sanitización de manos. Con fragancia. 500ml </p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Mediano $159.99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">1985 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			            <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/Pulgas.jpg" id="Repelentes" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Repelentes de pulgas</h6>
			                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">1 unidad</a></li>
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">x3 unidades</a></li>
			                        </ul>
			                        <p class="mb-3">Para proteger a tus mascotas de las pulgas, cada frasco contiene 20 usos.</p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Unidad $112.99</h3>
			                        <h3 class="mb-0 font-weight-semibold">3 Unidades $288,97</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">2349 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			             <div class="card card-body mt-3">
			                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
			                    <div class="mr-2 mb-3 mb-lg-0"> <img src="../assets/Img/mosquitos.jpg" id="mosquitos" width="150" height="150" alt=""> </div>
			                    <div class="media-body">
			                        <h6 >Repelente de mosquitos</h6>
			                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">1 unidad</a></li>
			                            <li class="list-inline-item"><a href="#" class="text-muted" data-abc="true">x3 unidades</a></li>
			                        </ul>
			                        <p class="mb-3">Cuidate de los mosquitos, con este repelete de primera calidad. Con una duracion de 12hs.</p>
			                    </div>
			                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
			                        <h3 class="mb-0 font-weight-semibold">Unidad $200.99</h3>
			                        <h3 class="mb-0 font-weight-semibold">3 Unidades $558,99</h3>
			                        <div> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
			                        <div class="text-muted">2349 reviews</div> <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Comprar</button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
		</main> 
		<footer>
			<div class="container-fluid" >
				<div class="row itemfooter">
					<div class="col-lg-4 col-xs-12">
						<img src="../assets/Img/wpp.jpg" class="imagenfooter">
						<p class="pfooter"> Tel: 1234-5678</p>
					</div>
				<div class="col-lg-4 col-xs-12" >
					<img src="../assets/Img/gmail.jpg" class="imagenfooter">
					<p class="pfooter">Quimicaslasmanyulas@gmail.com</p>
				</div>
				<div class="col-lg-4 col-xs-12">
					<p class="pfooter">Nuestras redes</p>
					<a href="https://www.facebook.com/"><img src="../assets/Img/face.jpg" alt="iconoface" class="imgredes" ></a>
					<a href="https://www.instagram.com/"><img src="../assets/Img/instagram.jpg" alt="iconoinstagram" class="imgredes"></a>
					<p class="pfooter">¡Hace click para visitarnos!</p>
				</div>
				</div>
			</div>
		</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
	<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</body>
</html>