<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manyulas/Promociones</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header>
		<div class="container title">
			<div class="row">	
				<div class="col-lg-12 col-xs-12 header">
					<img src="../assets/Img/Logo.jpg" class="logo">
					<blockquote class="blockquote text-center">
						 <h1>Quimica las manyulas.</h1>
					</blockquote>
				</div>
			</div>
		</div>
	</header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="../index.html">Inicio</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="Productos.html">Productos</a>
		        <a class="nav-link" href="#">Promociones</a>
		        <a class="nav-link" href="Informacion.html">Informacion</a>
		        <a class="nav-link" href="Contacto.html">Contacto</a>
		      </div>
		    </div>
		  </div>
		</nav>
		<main id="promosmain" class="Menu">
        	<div class="col">
	            <div class="row">
	                <div class="col-12 col-md-6 col-lg-4">
	                    <div class="card">
	                        <div class="packjabonliquido" id="sale"></div>
	                        <div class="card-body">
	                            <h4 class="card-title">Pack jabon liquido x5</h4>
	                            <p class="card-text">Pack familiar, contiene 5 jabones liquidos de 5L c/u. </p>
	                            <div class="row">
	                                <div class="col">
	                                    <p class="btn btn-danger btn-block">$4000</p>
	                                </div>
	                                <div class="col">
	                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="packlavandina" id="sale"></div>
                        <div class="card-body">
                            <h4 class="card-title" > Pack lavandina x2 </h4>
                            <p class="card-text">Pack de lavandinas, 2 bidones de 5L c/u de lavandina liquida neutra. </p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">$1500</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="alcoholengel" id="sale"></div>
                        <div class="card-body">
                            <h4 class="card-title"> Pack alcohol en gel </h4>
                            <p class="card-text">Pack de alcohol en gel neutro, incluye 3 recipientes de 410ml c/u.</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">$3000</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="packblem" id="sale"></div>
                        <div class="card-body">
                            <h4 class="card-title"> Pack Blem </h4>
                            <p class="card-text">Pack de limpieza para tus azulejos con el mejor cuidado. Contiene 6 unidades de 500ml c/u.</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">$3200</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="packsuavizante" id="sale"></div>
                        <div class="card-body">
                            <h4 class="card-title"> Pack suavizante</h4>
                            <p class="card-text">4 suavizantes de 3L c/u. Incluye fragancias: lavanda,primavera, rosas y floral. </p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">$3000</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="mopapromo" id="sale"></div>
                        <div class="card-body">
                            <h4 class="card-title"> Mopa</h4>
                            <p class="card-text">Mopa de amplio tamañano, facilita la limpieza en todas las partes de tu hogar y se adapta para eliminar
                            todas las bacterias.</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">$3500</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
		<footer>
			<div class="container-fluid" >
				<div class="row itemfooter">
					<div class="col-lg-4 col-xs-12">
						<img src="../assets/Img/wpp.jpg" class="imagenfooter">
						<p>Tel: 1234-5678</p>
					</div>
				<div class="col-lg-4 col-xs-12" >
					<img src="../assets/Img/gmail.jpg" class="imagenfooter">
					<p>Quimicaslasmanyulas@gmail.com</p>
				</div>
				<div class="col-lg-4 col-xs-12">
					<p>Nuestras redes</p>
					<img src="../assets/Img/face.jpg" alt="iconoface" class="imgredes">
					<img src="../assets/Img/instagram.jpg" alt="iconoinstagram" class="imgredes">
				</div>
				</div>
			</div>
		</footer>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
 	 AOS.init();
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>